@using Entity
@model List<Author>
@{
    ViewData["Title"] = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>İsim</th>
        <th>Kayıt Tarihi</th>

        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.DataCreate</td>

            <td><a href="#" class="btn btn-danger">Sil</a></td>
            <td><a href="#" class="btn btn-info">Güncelle</a></td>
        </tr>
    }

</table>
<a href="#" class="btn btn-outline-primary">Yeni Yazar Ekle </a>








