
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
	<div class="card">
		<div class="card-header  text-white bg-success bg-gradient">
			<span class="fs-4">Kategori Listesi</span>
			<a href="#" id="btnEkle" class="btn btn-warning ms-2">Kategori Ekle</a>
		</div>
		<div class="card-body">
			<table id="tblCategory" class="table table-bordered table-striped" style="width:100%">
				<thead>
					<tr>
						<th>Guid</th>
						<th>Kategori Adı</th>
					
						<th>Oluşturulma Tarihi</th>
						<th>İşlemler</th>
					</tr>
				</thead>

			</table>

		</div>
	</div>
</div>
@section Scripts{
	<script src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
	<script>
		var DataTable;
		$(document).ready(function () {

			DataTable = $('#tblCategory').DataTable({

				ajax:'/Category/Index',
				columns:[

					{ data: 'id' },
					{ data: 'name' },
					{ data: 'dateCreated' },
					{
						data: 'id', render: function (data) {
							return `<a href="#" onclick="deleteCategory('${data}')" class="btn btn-sm btn-danger">Sil</a>
																		<a href="#" onclick="editCategory('${data}')" class="btn btn-sm btn-primary">Düzenle</a>
														   `
						}
					}


				]

			})


		})



	</script>
}

